* {
    box-sizing: border-box;
}
#path {
    display: flex;
<<<<<<< HEAD
    margin: 75px 0 25px 0;
=======
    margin: 91px 0 25px 0;
>>>>>>> 67412e6be7a439c2c07ffff8348a24d4892a25b8
}
#path ol {
    margin-left: auto;      
}
#path ol li a {   
    text-decoration: none;
    vertical-align: middle;
}
html, body {
    height: 100vh;
}
#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 400px;
}
.footer {
    bottom: 0;
    position: absolute;
	width: 100%;
}
table{
	padding: 30px;
}
table tr{
	text-align: center;
}
th{
	width: 150px;
	height: 50px;
}
@media (max-width: 576px) {
	#wrapper {
	    padding-bottom: 750px;
	}
}
@media (max-width: 992px) {
	#path {
	    margin-top: 93px;
	}
}