* {
    box-sizing: border-box;
}
#path {
    display: flex;
    margin: 20px 0;
}
#path ol {
    margin-left: auto;      
}
#path ol li a {   
    text-decoration: none;
    vertical-align: middle;
}
.table-hover{
	cursor: pointer;
}
html, body {
    height: 100vh;
}
#wrapper {
    min-height: 100%;
    min-width: 1200px;
    position: relative;
    padding-bottom: 330px;
}
table th, table td {
	text-align: center;
}
.footer {
    bottom: 0;
    position: absolute;
	width: 100%;
}