<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기 상세</title>
<link rel="stylesheet" href="/public/css/board/detail.css">
<script th:src="@{/public/js/board/detail.js}" defer></script>
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	<main class="container-xl">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item">
		    	<a href="#">게시판</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a href="/board/list/1" class="breadcrumb-item active">후기</a>
		    </li>
		  </ol>
		</nav>
		 <h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
		    <span style="font-size: 35px;" th:text="${board.title}"></span>
	    </h1>	
		<div class="mt-3 d-flex">
			<div class="d-flex align-items-center">
				<i class="bi bi-eye" style="margin-right: 4px;"
					data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="조회수">
					<span th:text="${board.views}"></span>
				</i>
				<th:block th:if="${(session.loginUser?.user_id != null) && (session.loginUser?.user_id != board.user?.user_id)}">
					<a style="margin-right: 4px; margin-left: 4px;"
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="좋아요!"
					th:href="@{/board/prefer/{no}/{prefer}(no=${board.board_no}, prefer=${true})}" 
					class="btn btn-outline-primary border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && board.prefer_active) ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'}" class="bi "></i>				
						<span th:text="${board.good}"></span>
					</a> 
					<a style="margin-right: 8px;"
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="싫어요!"
					th:href="@{/board/prefer/{no}/{prefer}(no=${board.board_no}, prefer=${false})}"  
					class="btn btn-outline-danger border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && !board.prefer_active) ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'}" class="bi "></i>				
						<span th:text="${board.bad}"></span>
					</a>
				</th:block>
				<th:block th:unless="${(session.loginUser?.user_id != null) && (session.loginUser?.user_id != board.user?.user_id)}">
					<a style="margin-right: 4px; margin-left: 4px;"
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="좋아요!"
					class="btn btn-outline-primary border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && board.prefer_active) ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'}" class="bi "></i>				
						<span th:text="${board.good}"></span>
					</a> 
					<a style="margin-right: 8px;"
				 	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="싫어요!"
					class="btn btn-outline-danger border-0 rounded-pill">
						<i th:classappend="${(board.prefer_active != null && !board.prefer_active) ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'}" class="bi "></i>				
						<span th:text="${board.bad}"></span>
					</a>
				</th:block>
			</div>
	  </div>
	  <div class="mt-3 mb-3">
	 	<table class="table table-bordered table align-middle">
		  <tbody>
		    <tr>
		      <th style="width: 100px; border-left: none;" class="bg-light">작성자</th>
		      <td style="width: 800px;" th:text="${board.user?.user_id}"></td>
		      <td style="width: 400px; border-right: none;" rowspan="6">
		      	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" 
		      		style="width: 400px; height: 400px;">
				  <div class="carousel-inner">
				  	<th:block th:each="boardImg : ${board.boardImgs}">
				  		<div class="carousel-item active">
					      	<div class="mb-1" th:if="${boardImg != null}">
								<!-- Button trigger modal -->
								<button type="button" class="btn border-0" data-bs-toggle="modal"
									style="padding: 0" 
									th:data-bs-target="'#boardImgModal' + ${boardImg.board_img_no}">
     								<img th:src="@{/img/{fileName}(fileName=${boardImg.img_path})}" alt="후기 이미지"  style="width: 400px; height: 400px;">
								</button>			
							</div>
				  		</div>
						<!-- Modal -->
						<div class="modal fade"
							th:id="'boardImgModal' + ${boardImg.board_img_no}" >
						  <div class="modal-dialog modal-dialog-centered modal-lg">
						    <div class="modal-content" 
						    style="background-color: rgba(255,255,255,0)">
						      <div class="modal-body">
		   						<img th:src="@{/img/{fileName}(fileName=${boardImg.img_path})}" alt="후기 이미지" width="760"> 
						      </div>
						    </div>
						  </div>
						</div>							
				  	</th:block>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				  </button>
				 </div>
		      </td>
		    </tr>
		    <tr>
		      <th style="width: 100px; border-left: none;" class="bg-light">카테고리</th>
		      <th:block th:if="${board.category.category_id == '1'}">
				  <td style="width: 600px;">관광지</td> 
			  </th:block>
			  <th:block th:if="${board.category.category_id == '2'}">
				  <td style="width: 600px;">숙박</td> 
			  </th:block>
			  <th:block th:if="${board.category.category_id == '3'}">
				  <td style="width: 600px;">맛집</td> 
			  </th:block>
		    </tr>
		    <tr>
		      <th style="width: 100px; border-left: none;" class="bg-light">장소명</th>
		      <td style="width: 600px;" th:text="${board.place_name}"></td>
		    </tr>
		    <tr>
		      <th style="width: 100px; border-left: none;" class="bg-light">주소</th>
		      <td style="width: 600px;" th:text="${board.place_name}"></td>
		    </tr>
		    <tr>
		      <th style="width: 100px; border-left: none;" class="bg-light">평점</th>
		      <td style="width: 600px;" th:text="${board.rating}"></td>
		    </tr>
		    <tr>
		      <th style="width: 100px; border-left: none;" class="bg-light">내용</th>
		      <td style="width: 600px;" th:text="${board.contents}"></td>
		    </tr>
		  </tbody>
		</table>
	  </div>	
	  <div class="d-flex mb-5">
			<div th:if="${(session.loginUser?.user_id == board.user?.user_id) || (session.loginUser?.adminCk == 1)}" class="ms-auto">
				<a th:href="@{/board/update/{boardNo}(boardNo = ${board.board_no})}" class="btn btn-outline-info btn-lg" style="margin-right: 8px;">
					수정
				</a>
				<a href="/board/list/1" class="btn btn-outline-dark btn-lg">목록</a>
			</div>
			<div th:unless="${(session.loginUser?.user_id == board.user?.user_id) || (session.loginUser?.adminCk == 1)}" class="ms-auto">
				<a href="/board/list/1" class="btn btn-outline-dark btn-lg">목록</a>
			</div>
	  </div>
	  	<h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
		    <span style="font-size: 35px;">댓글 리스트 : <strong th:text="${board.replys?.size}"></strong></span>
		    <button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replyCollapse">
    			토글
  			</button>
	    </h1>
		<div class="mt-3">
			<ul class="list-group collapse show mt-3" id="replyCollapse">
				<li class="list-group-item" 
				th:if="${session.loginUser?.user_id != null}">
					<p style="font-size: 30px; margin-top: 8px;">댓글 등록</p>
<!--///////////////////////////////////// 리플 등록 폼 ///////////////////////////////////////////////////////////////// -->				
					<form action="/reply/insert.do" method="post" enctype="multipart/form-data" name="replyInsertForm">
						<table class="table table-bordered table align-middle mb-3" style="height: 100%;">
							<tbody>
								<tr>
									<th class="table-light">작성자</th>
									<td>
										<input name="user.user_id" class="form-control" id="userId" th:value="${session.loginUser?.user_id}" readonly>
									</td>
								</tr>
								<tr>
									<th class="table-light">제목</th>
									<td>
										<input name="title" class="form-control" id="title" onkeyup="noSpace(this);" onchange="noSpace(this);">
									</td>
								</tr>
								<tr>
									<th class="table-light">사진</th>
									<td>
										<input name="imgFile" class="form-control mb-1 form-control-lg" type="file">
									</td>
								</tr>
								<tr>
									<th class="table-light">내용</th>
									<td>
										<textarea name="contents" class="form-control" id="contents" 
												  onkeyup="noSpace(this);" onchange="noSpace(this);"></textarea>
									</td>	
								</tr>
							</tbody>
						</table>
						<div class="d-flex mb-2">
							<div class="ms-auto">
								<button class="btn btn-outline-warning btn-lg" type="reset" style="margin-right: 8px;">초기화</button>
								<button class="btn btn-outline-primary btn-lg" type="submit">등록</button>
								<input type="hidden" name="board_no" th:value="${board.board_no}">
							</div>
						</div>
					</form>
				</li>
				<th:block th:insert="/board/replyList" th:with="replys=${board.replys}" id="replyList"></th:block>
			</ul>
		</div>
	</main>	
	 <footer class="footer" th:insert="/NewFooter"></footer> 
	</div>
</body>
<script>
//값이 없을 때 submit 불가
var replyInsertForm = document.forms.replyInsertForm;
var replyTitle = replyInsertForm.title;
var replyContents = replyInsertForm.contents;
replyInsertForm.addEventListener("submit", (event) => {
	if(!(replyTitle.value) || !(replyContents.value)) {
		event.preventDefault();		
	}
});
function noSpace(obj) { // 공백사용못하게
    var str = /\s/;  // 공백체크
    if(str.exec(obj.value.trim)) { //공백 체크
        //alert("해당 항목에는 첫 글자 공백을 사용할수 없습니다.");
        obj.focus();
        obj.value = obj.value.replace(/^ +/,''); // 공백제거
        return false;
    }
}
</script>
</html>