<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>후기</title>
<link rel="stylesheet" href="/public/css/board/list.css">
<script src="/public/js/board/list.js" defer="defer"></script>
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	<main class="container-xl">
	 <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item">
	    	<a href="/">홈</a>
	    </li>
	    <li class="breadcrumb-item">
	    	<a href="#">게시판</a>
	    </li>
	    <li class="breadcrumb-item" aria-current="page">
	    	<a href="/board/list/1" class="breadcrumb-item active">후기</a>
	    </li>
	  </ol>
	 </nav>
	  <div class="pb-4 d-flex align-items-center" 
		  style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
		  <div class="d-flex align-items-center">
		      <span style="font-size: 35px; margin-right: 8px;">후기</span>
		      <span class="badge text-bg-dark" style="font-size: 20px;" th:text="${count}"></span>
	      </div>
		  <div class="ms-auto">
		  	  <a href="/board/insert.do" class="btn btn-secondary">후기 작성</a>
			  <div class="dropdown-center d-inline-block">
				  <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				    필터
				  </button>
				  <ul class="dropdown-menu">
				    <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=prefer_good, direct=desc)}">인기순</a></li>
				    <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=views, direct=desc)}">조회수순</a></li>
				    <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=rating, direct=desc)}">평점순</a></li>
				    <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=post_time, direct=desc)}">최신순</a></li>
				    <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=post_time, direct=asc)}">오래된순</a></li>
				  </ul>
			  </div>
		  </div>
	  </div>	
		<table class="mt-5 mb-5 table table-bordered table-hover align-middle"
			   style="min-width: 1200px;">
			<thead class="table-light">
				<tr>
					<th>글 번호</th>
					<th>작성자</th>
					<th>카테고리</th>
					<th>장소</th>
					<th>평점</th>					
					<th>제목</th>
					<th>댓글</th>
					<th>좋아요</th>
					<th>조회수</th>
					<th>등록일</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="board : ${boardList}">
					<tr th:onclick="location.href='/board/detail/[[${board.board_no}]]'">
						<td th:text="${board.board_no}"></td>
						<td th:text="${board.user?.user_id}"></td>
						<th:block th:if="${board.category.category_id == '1'}">
							<td>관광지</td> 
						</th:block>
						<th:block th:if="${board.category.category_id == '2'}">
							<td>숙박</td> 
						</th:block>
						<th:block th:if="${board.category.category_id == '3'}">
							<td>맛집</td> 
						</th:block>
						<td th:text="${board.place_name}"></td>
						<td th:text="${board.rating}"></td>
						<td th:text="${board.title}"></td>
						<td th:text="${board.replys?.size}"></td>
						<td th:text="${board.good}"></td>
						<td th:text="${board.views}"></td>
						<td th:text="${#dates.format(board.post_time,'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>					
				</th:block>
			</tbody>
		</table>
		<th:block th:unless="${count == 0}">
			<div class="d-flex justify-content-center" th:insert="/pagination"></div>
		</th:block>
		<nav class="navbar mt-4 mb-4" style="min-width: 1200px;">
		  <div class="container-xl" style="padding-left: 0;">
		    <form action="/board/search/1" class="d-flex" id="reviewSearchForm" role="search" name="reviewSearchForm">
		      <select class="form-select me-2" name="type" style="width: 100px; border: 1px solid #6c757d">
		            <option value="N">글 번호</option>
					<option value="U">작성자</option>
					<option value="P">장소</option>
					<option value="T">제목</option>
					<option value="C">카테고리</option>
		      </select>
		      <input class="form-control me-2" name="keyword" id="search" size="20" 
		      		 onkeyup="noSpaceForm(this);" onchange="noSpaceForm(this);" 
		      		 type="search" placeholder="검색" aria-label="Search" 
		      		 style="border: 1px solid #6c757d">
		      <button class="btn btn-outline-secondary" style="padding: 6px;">
		      	<div class="bi bi-search" style="width: 28px; height: 28px;"></div>
		      </button>
		    </form>
		  </div>
		</nav>
	</main>
<footer class="footer" th:insert="/NewFooter"></footer>
</div>
</body>
</html>