<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>고객 문의 내역</title>
<link rel="stylesheet" href="/public/css/qaboard/detail.css">
<script src="/public/js/qaboard/detail.js" defer="defer"></script>
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	 <main class="container-xl">
	   <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item">
		    	<a href="#">고객 센터</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a href="/qaboard/list/1" class="breadcrumb-item active">고객 문의</a>
		    </li>
		  </ol>
		</nav>
	    <h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
		    <span style="font-size: 35px;">고객 문의 내역</span>
	    </h1>	
	    <div class="mt-3 d-flex">
			<i class="bi bi-eye" style="margin-right: 4px;"
				data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="조회수">
				<span th:text="${qaBoard.views}"></span>
			</i>
			<div class="ms-auto align-self-center">
				<span th:text="'등록일 : ' + ${#dates.format(qaBoard.qaBoardDate,'yyyy-MM-dd HH:mm:ss')}"></span>
			</div>
	    </div>
		<table class="mt-3 mb-5 table align-middle table-bordered">
			<tbody>
				<tr>
					<th class="table-light">글 번호</th>
					<td th:text="${qaBoard.qaBoardNo}"></td>
				</tr>
				<tr>
					<th class="table-light">작성자</th>
					<td th:text="${qaBoard.user?.user_name+'('+qaBoard.user?.user_id+')'}"></td>
				</tr>
				<tr>
					<th class="table-light">유형</th>
					<th:block th:if="${qaBoard.category.category_id == '1'}">
						<td>관광지</td>
					</th:block>
					<th:block th:if="${qaBoard.category.category_id == '2'}">
						<td>숙박</td>
					</th:block>
					<th:block th:if="${qaBoard.category.category_id == '3'}">
						<td>맛집</td>
					</th:block>
				</tr>
				<tr>
					<th class="table-light">제목</th>
					<td th:text="${qaBoard.qaBoardTitle}"></td>
				</tr>
				<tr>
					<th class="table-light">내용</th>
					<td th:text="${qaBoard.qaBoardContents}"></td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex">
			<div class="ms-auto">
				<th:block th:if="${(session.loginUser?.adminCk == 1) || (session.loginUser?.user_id == qaBoard.user?.user_id)}">
					<a class="btn btn-outline-info btn-lg" th:href="@{/qaboard/update/{qaBoardNo}(qaBoardNo=${qaBoard.qaBoardNo})}"
					   style="margin-right: 8px;">수정</a>
					<a class="btn btn-outline-dark btn-lg" href="/qaboard/list/1">목록</a>
				</th:block>
				<th:block th:unless="${(session.loginUser?.adminCk == 1) || (session.loginUser?.user_id == qaBoard.user?.user_id)}">
					<a class="btn btn-outline-dark btn-lg" href="/qaboard/list/1">목록</a>
				</th:block>
			</div>
		</div>
		<div class="mt-5">
			<th:block th:if="${(qaBoard.qaReply == null) && (session.loginUser?.adminCk == 1) && (qaBoard.qaBoardAnswer == 0)}">
				<h1 class="pb-4 d-flex justify-content-between align-items-center" 
				    style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
				    <span style="font-size: 35px;">답변 등록</span>
			    </h1>	
			    <form action="/qaboard/replyInsert.do" method="post" name="qaReplyInsertForm">
				<table class="mt-5 mb-5 table align-middle table-bordered">
					<tbody>
						<tr>
							<th class="table-light">제목</th>
							<td>
								<input name="qaReplyTitle"  
									   type="text" class="form-control"
									   onkeyup="noSpace(this);" onchange="noSpace(this);">
							</td>
						</tr>
						<tr>
							<th class="table-light">내용</th>
							<td>
								<textarea name="qaReplyContent" class="form-control"
										  onkeyup="noSpace(this);" onchange="noSpace(this);"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex">
					<div class="ms-auto">
						<button class="btn btn-outline-warning btn-lg" type="reset" style="margin-right: 8px;">초기화</button>
						<button type="submit" class="btn btn-outline-primary btn-lg">등록</button>
						<input name="qaBoardNo"  
							type="hidden" th:value=${qaBoard.qaBoardNo}>
						<input name="qaBoardAnswer"  
							type="hidden" value="1">
					</div>
				</div>		
				</form>
			</th:block>
			<th:block th:if="${(qaBoard.qaReply != null) && (qaBoard.qaBoardAnswer == 1)}">
				 <h1 class="pb-4 d-flex justify-content-between align-items-center" 
					 style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
					 <span style="font-size: 35px;">답변</span>
			     </h1>	
			     <div class="mt-3 d-flex">
					<div class="ms-auto align-self-center">
						<span th:text="'답변일 : ' + ${#dates.format(qaBoard.qaReply?.qaReplyDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
					</div>
			     </div>
				 <table class="mt-3 mb-5 table align-middle table-bordered">
					<tbody>
						<tr>
							<th class="table-light">제목</th>
							<td th:text="${qaBoard.qaReply?.qaReplyTitle}"></td>
						</tr>
						<tr>
							<th class="table-light">내용</th>
							<td th:text="${qaBoard.qaReply?.qaReplyContent}"></td>
						</tr>
					</tbody>
				 </table>
				 <div class="d-flex">
					 <div class="ms-auto">
					 	<th:block th:if="${session.loginUser?.adminCk == 1}">
					 		<a class="btn btn-outline-info btn-lg" th:href="@{/qaboard/replyUpdate/{qaBoardNo}(qaBoardNo=${qaBoard.qaBoardNo})}">수정</a>
					 	</th:block>
					 </div>
				 </div>	
			</th:block>
		</div>
	</main>
<footer class="footer" th:insert="/NewFooter"></footer>
</div>
</body>
</html>