html, body {
    height: 100%
}
#wrapper {
    min-height: 100%;
    min-width: 1200px;
    position: relative;
    padding-bottom: 500px;
}
input {
	height: 50px;
}
.footer {
    bottom: 0;
}
.width{
	display:inline-block;
	width:66px;
}