<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.mainPage.mapper.RestMapper">
 	<resultMap type="Rest" id="RestMap">
		<id column="rest_rank" property="rest_rank"/>
		<result column="tourist" property="tourist"/>
		<result column="province" property="province"/>
		<result column="city" property="city"/>
		<result column="address2" property="address2"/>
		<result column="rest" property="rest"/>		
		<result column="search" property="search"/>	
	</resultMap>
	<!--  rest List  -->
	<select id="selectListAll" resultType="Rest">
		SELECT * FROM RESTAURANT ORDER BY search DESC LIMIT #{startRow}, #{pageSize}
	</select>
	<select id="selectPageAllCount" resultType="int">
		SELECT COUNT(*) FROM RESTAURANT
	</select>
	<!-- rest Detail  -->
	<select id="selectDetailOne" resultType="Rest">
		SELECT * FROM RESTAURANT WHERE rest_rank = #{restRank}
	</select>
	<!-- 조회수 -->
	<update id="updateViews" parameterType="int">
		UPDATE RESTAURANT SET 
			views = views + 1
			WHERE rest_rank = #{restRank}
	</update>
 </mapper>