<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.mainPage.mapper.TourMapper">
 	<resultMap type="Tour" id="TourMap">
		<id column="tour_rank" property="tour_rank"/>
		<result column="tourist" property="tourist"/>
		<result column="province" property="province"/>
		<result column="city" property="city"/>
		<result column="address3" property="address3"/>
		<result column="tours" property="tours"/>	
		<result column="views" property="views"/>	
		<result column="search" property="search"/>	
	</resultMap>
	<!--  tour List  -->
	<select id="selectListAll" resultType="Tour">
		SELECT * FROM TOUR ORDER BY search DESC LIMIT #{startRow}, #{pageSize}
	</select>
	<select id="selectPageAllCount" resultType="int">
		SELECT COUNT(*) FROM TOUR
	</select>
	<!-- tour Detail  -->
	<select id="selectDetailOne" resultMap="TourMap" >
		SELECT * FROM TOUR WHERE tour_rank = #{tourRank}
	</select>
	<!-- 조회수 -->
	<update id="updateViews" parameterType="String" >
		UPDATE TOUR SET 
			views = views + 1
			WHERE tour_rank = #{tourRank}
	</update>
 </mapper>