#footer {
    background-color: #d3eaf3;
    min-width: 1200px;
    overflow: hidden;
    word-break: keep-all;
    width: 100%;
	height: auto;
  	position: absolute;
  	bottom: 0px;
}
#footer #footerTop {
    padding: 5px 10px;
    background-color: #1E96C4;
}
#footer #footerTop a {
    text-decoration: none;
    color: white;
}
#footer #footerCenter {
    font-size: 13px;
}
#footer #footerCenter ul {
    margin: 40px 0 0 0;
    padding-left: 32px;
}
#footer #footerCenter a {
    color: #1E96C4;
}
#footer #footerBottom {
	min-width: 1200px;
}
#footer #footerBottom div {
    margin: 20px 20px 20px 32px;
}
#footer #footerBottom div a {
	font-size: 20px;
    color: #1E96C4;
}
#footer #footerBottom p {
	margin: 0;
	font-size: 13px;
}