html, body {
    height: 100vh;
}
#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 325px;
}
.footer {
    bottom: 0;
    position: absolute;
	width: 100%;
}
#home {
	height: 100vh;
	top: 0;
}
