<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JEJU TOUR TOP 10</title>
<link rel="stylesheet" href="/public/css/tour/list.css">
</head>
<body>
	<header th:insert="/NewHeader"></header>
	<div id="wrapper">
		<main class="container-xl">
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item">
			    	<a href="/">홈</a>
			    </li>
			    <li class="breadcrumb-item" aria-current="page">
			    	<a href="/top/tour/list/1" class="breadcrumb-item active">TOP 10 관광지</a>
			    </li>
			  </ol>
			</nav>
			<div class='tableauPlaceholder' id='viz1664438063428'>
				<noscript id="noscript">
				<a href='#'>
					<img alt='제주 관광지 TOP 10' 
						src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;10&#47;10_16643322610170&#47;1&#47;1_rss.png' 
						/>
				</a>
				</noscript>
				<object class='tableauViz'  style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
					<param name='embed_code_version' value='3' /> 
					<param name='site_root' value='' />
					<param name='name' value='10_16643322610170&#47;1' />
					<param name='tabs' value='no' />
					<param name='toolbar' value='yes' />
					<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;10&#47;10_16643322610170&#47;1&#47;1.png' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' />
					<param name='language' value='ko-KR' />
				</object>
			</div>
			<h1 class="pb-4 d-flex justify-content-between align-items-center" style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
				<span style="font-size: 35px;">제주도 여행 추천</span> 
				<th:block th:if="${session.loginUser?.adminCk == 1}" class="ms-auto">
					<a href="/top/tour/insert.do" class="btn btn-secondary">관광지 등록</a>
				</th:block>
			</h1>
			<table class="mt-5 mb-5 table table-bordered table-hover align-middle"
			   style="min-width: 1200px;">
			<thead class="table-light">
				<tr>
					<th>순위</th>
					<th>관광지명</th>
					<th>서귀포/제주도</th>
					<th>카테고리</th>
					<th>주소</th>	
					<th>검색수</th>	
				</tr>
			</thead>
			<tbody>
				<th:block th:each="tour : ${tourList}" >
					<tr th:onclick="location.href='/top/tour/detail/[[${tour.tour_rank}]]'">
						<td th:text="${tour.ranking}"></td>
						<td th:text="${tour.tourist}"></td>
						<td th:text="${tour.city}"></td>
						<th:block th:if="${tour.category.category_id == '1'}">
							<td>관광지</td> 
						</th:block>
						<th:block th:if="${tour.category.category_id == '2'}">
							<td>숙박</td> 
						</th:block>
						<th:block th:if="${tour.category.category_id == '3'}">
							<td>맛집</td> 
						</th:block>					
						<td th:text="${tour.address3}"></td>
						<td th:text="${tour.search}"></td>
					</tr>					
				</th:block>
			</tbody>
		</table>
		<th:block th:unless="${count == 0}">
			<div class="d-flex justify-content-center" th:insert="/pagination"></div>
		</th:block>
		</main>
  	  <footer class="footer" th:insert="/NewFooter"></footer>
    </div> 
</body>
		<script type='text/javascript'>                    
			var divElement = document.getElementById('viz1664438063428');                    
			var vizElement = divElement.getElementsByTagName('object')[0];                    
				vizElement.style.width='100%';
				vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
			var scriptElement = document.createElement('script');                   
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
				vizElement.parentNode.insertBefore(scriptElement, vizElement);    
		</script>		
</html>