<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JEJU TOUR TOP 10 수정</title>
<link rel="stylesheet" href="/public/css/tour/update.css">
</head>
<body>
	<header th:insert="/NewHeader"></header>
	<div id="wrapper">
		<main class="container-xl">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">홈</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Top 10</a>
				</li>
				<li class="breadcrumb-item">
					<a href="/top/tour/list/1">관광지</a>
				</li>
			</ol>
		</nav>	
		<h2 class="pb-4" style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
		    <span id="spanId">관광지 정보 수정</span>
	    </h2>
		<div class="mt-3">
	   <form action="/top/tour/update.do" method="post" enctype="multipart/form-data" name="tourUpdateForm">
		 <table class="mb-5 table table-bordered table">
		  <tbody>
		    
		    <tr>
		      <th style="width: 100px;" class="bg-light align-middle"></th>
		      <td style="width: 600px;">
		      	<input name="tour_rank" class="form-control" id="tour_rank" th:value="${tour.tour_rank}">
		      </td>
		    </tr>
		    <tr>
		      <th style="width: 100px;" class="bg-light align-middle">장소명</th>
		      <td style="width: 600px;">
		      	<input name="tourist" class="form-control" id="tourist" th:value="${tour.tourist}">
		      </td>
		    </tr>
		    
		    <tr>
		    	<th style="width: 100px;" class="bg-light align-middle">사진</th>
		    	<td>
					<div class="mt-2 mb-3">
						<p>삭제할 사진 선택</p>
						<th:block th:each="tourImg : ${tour.tourImgs}">
							<label>
								<input name="tourImgNo" type="checkbox"
									   class="form-check-input" th:value="${tourImg.tour_img_no}">
								<img alt="후기 이미지" 
									 th:src="@{/img/{file}(file=${tourImg.img_path})}" 
									 class="img-thumbnail" width="200">
							</label>
						</th:block>
					</div>
				    <div>
						<input name="imgFile" class="form-control mb-1 form-control-lg" type="file">
						<input name="imgFile" class="form-control mb-1 form-control-lg" type="file">
						<input name="imgFile" class="form-control mb-1 form-control-lg" type="file">
						<input name="imgFile" class="form-control mb-1 form-control-lg" type="file">
						<input name="imgFile" class="form-control mb-1 form-control-lg" type="file">
					</div>
		    	</td>
		    </tr>
		    <tr>
		      <th style="width: 100px;" class="bg-light align-middle">서귀포 / 제주시</th>
		      <td style="width: 600px;">
		      	<input name="city" class="form-control" id="city" th:value="${tour.city}" >
		      </td>
		    </tr>
		    <tr>
		      <th style="width: 100px;" class="bg-light align-middle">주소</th>
		      <td style="width: 600px;">
		      	<textarea name="address3" class="form-control" th:text="${tour.address3}"></textarea>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<div class="d-flex">
			<div class="ms-auto">
				<button class="btn btn-outline-warning btn-lg" type="reset">초기화</button>
				<button class="btn btn-outline-success btn-lg" type="submit" style="margin-left: 8px; margin-right: 8px;">수정</button>
				<!-- <a th:href="@{/top/tour/delete/{tourRank}/{userId}(tourRank=${tour.tourRank}, userId=${session.loginUser?.user_id})}" 
				   class="btn btn-outline-danger btn-lg" style="margin-right: 8px;">
					삭제
				</a> -->
				<!-- <a th:href="@{/top/tour/detail/{tourRank}(tourRank=${tour.tour_rank})}" class="btn btn-outline-dark btn-lg ms-auto">취소</a> -->
			</div>
		</div>
	   </form>
	  </div>
		</main>
		<footer class="footer" th:insert="/NewFooter"></footer> 
	</div>
</body>
</html>