<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
    <div id="footer">
	  <footer>
	    <ul class="nav justify-content-around" id="footerTop">
	      <li class="nav-item"><a href="/users/privacy" class="nav-link px-2">개인정보 처리방침</a></li>
	      <li class="nav-item"><a href="/users/agreement" class="nav-link px-2">이용 약관</a></li>
	      <li class="nav-item"><a href="#" class="nav-link px-2">제주 관광 문의</a></li>
	      <li class="nav-item"><a href="#" class="nav-link px-2">관광 업체 등록 신청</a></li>
	      <li class="nav-item"><a href="/users/emailRejection" class="nav-link px-2">이메일무단수집거부</a></li>
	    </ul>
	    <div id="footerCenter">
	      <ul class="nav flex-column">
	        <li class="nav-item mb-2 text-muted">(63122) 제주특별자치도 제주시 선덕로 23(연동) 제주 웰컴 센터</li>
	        <li class="nav-item mb-2 text-muted">관광 문의 : 제주 관광 공사</li>
	        <li class="nav-item mb-2 text-muted">Tel : 064-740-6000~1 | FAX : 064-740-6090 | 사업자 등록 번호 : 616-82-21432</li>
	        <li class="nav-item mb-2 text-muted">관광 불편 신고 : 제주 안내 120콜센터 (국번 없이 120번)</li>
	        <li class="nav-item mb-2 text-muted">홈페이지에 게시된 이메일 주소가 자동수집되는 것을 거부하며, 위반시 정보통신망법에 의해 처벌될 수 있습니다.</li>
	      </ul>
	    </div>
	    <div class="d-flex flex-sm-row justify-content-between" id="footerBottom">
	      <div class="col-md-4 d-flex align-items-center">
		      <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
		        <img src="/img/logo.png" style="width: 110px; height: 40px;">
		      </a>
	      </div>
	      <p class="col-md-6 d-flex align-items-center">Copyright©Jeju Tourism Organization, All rights reserved.</p>
	      <div>
	      	<a href="#" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">Top</a>
	      </div>
	    </div>
	  </footer>
	</div>
</body>
</html>