<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-fluid d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      © <script>
      document.write(new Date().getFullYear())
      </script>
      <a href="/" target="_blank" class="footer-link fw-bolder">JEJU THE BEST</a>
    </div>
    <div>    
      <a href="/user/privacy" class="footer-link me-4" target="_blank">개인정보 처리방침</a>
      <a href="/user/agreement" target="_blank" class="footer-link me-4">이용 약관</a>     
      <a href="https://ijto.or.kr/korean/" target="_blank" class="footer-link me-4">제주 관광 문의</a>     
      <a href="http://www.visitjeju.or.kr/web/comp/reg.do" target="_blank" class="footer-link me-4">관광 업체 등록 신청</a>
      <a href="/user/emailRejection" target="_blank" class="footer-link me-4">이메일 무단수집 거부</a>    
    </div>
  </div>
</footer>
<!-- / Footer -->
</body>
</html>