<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 정보</title>
<link rel="stylesheet" href="/public/css/user/detail.css">
<!-- 주소API기능연동 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer="defer"></script>
<script th:src="@{/public/js/adressApi.js}" defer="defer"></script>
</head>
<body>
<header th:insert="/NewHeader"></header>
	<div id="wrapper">
	 <main class="container-xl">
	   <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a th:href="@{/users/detail/{userid}(userid=${user?.userid})}" 
		    	   class="breadcrumb-item active" th:text="${user?.username} + '(' + ${user?.userid} + ')'"></a>
		    </li>
		  </ol>
		</nav>
	    <h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
		    <span style="font-size: 35px;">회원 정보</span>
	    </h1>	
			<table class="mt-5 mb-5 table align-middle table-bordered">
				<tbody>
					<tr>
						<th class="table-light">이름</th>
						<td th:text="${user.username}"></td>
					</tr>
					<tr>
						<th class="table-light">아이디</th>
						<td th:text="${user.userid}"></td>
					</tr>
					<tr>
						<th class="table-light">비밀번호</th>
						<td th:text="${user.userpw}"></td>
					</tr>
					<tr>
						<th class="table-light">이메일</th>
						<td th:text="${user.email}"></td>
					</tr>
					<tr>
						<th class="table-light">전화번호</th>
						<td th:text="${user.phone}"></td>
					</tr>
					<tr>
						<th class="table-light">생일</th>
						<td th:text="${#dates.format(user.birth, 'yyyy-MM-dd')}"></td>
					</tr>
					<tr>
						<th class="table-light">우편번호</th>
						<td th:text="${user.add1}"></td>
					</tr>
					<tr>
						<th class="table-light">주소</th>
						<td th:text="${user.add2}"></td>
					</tr>
					<tr>
						<th class="table-light">상세 주소</th>
						<td th:text="${user.add3}"></td>
					</tr>
					<tr>
						<th class="table-light">참고 항목</th>
						<td th:text="${user.add3}"></td>
					</tr>
					<tr>
						<th class="table-light">가입일</th>
						<td th:text="${#dates.format(user.signup, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
				</tbody>
			</table>
			<th:block th:if="${session.loginUsers?.adminCk == 1}">
				<div class="d-flex mb-3 g-3">
					<div class="ms-auto">
						<a class="btn btn-outline-info btn-lg" th:href="@{/users/update/{userId}(userId=${user.userid})}">수정</a>
						<a class="btn btn-outline-dark btn-lg" href="/users/list/1">목록</a>
					</div>
				</div>
			</th:block>
			<th:block th:unless="${session.loginUsers?.adminCk == 1}">
				<div class="d-flex mb-3 g-3">
					<div class="ms-auto">
						<a class="btn btn-outline-info btn-lg" th:href="@{/users/update/{userId}(userId=${user.userid})}">수정</a>
					</div>
				</div>
			</th:block>
	  </main>
<footer class="footer" th:insert="/NewFooter"></footer>
</div>
</body>
<script type="text/javascript">
function noSpaceForm(obj) { // 공백 사용 못하게
   var str_space = /\s/;  // 공백 체크
   if(str_space.exec(obj.value.trim)) { //공백 체크
       //alert("해당 항목에는 공백을 사용할수 없습니다.\n\n공백은 자동적으로 제거 됩니다.");
       obj.focus();
       obj.value = obj.value.replace(/\s| /gi,''); // 공백 제거
       return false;
   }
}
</script>
</html>