<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 리스트</title>
<link rel="stylesheet" href="/public/css/user/list.css">
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	<main class="container-xl">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a href="/users/list/1" class="breadcrumb-item active">회원 리스트</a>
		    </li>
		  </ol>
		</nav>
		<h1 class="pb-4 d-flex justify-content-between align-items-center" 
		    style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
		    <span style="font-size: 35px;">회원 리스트</span>
		    <span style="font-size: 18px;" class="d-flex align-items-center" >
			    <span style="margin-right: 8px;">총 회원 수 : </span>  
			    <span class="badge text-bg-dark" th:text="${count}"></span>
		    </span>
	    </h1>
		<p>
			
		</p>
		<table class="mt-5 mb-5 table table-bordered table-hover align-middle"
			   style="min-width: 1200px;">
			<thead class="table-light">
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>이메일</th>
					<th>전화번호</th>
					<th>나이</th>
					<th>주소</th>
					<th>가입일</th>
			    </tr>
			</thead>
			<tbody>
				<th:block th:each="users : ${userList}">
					<tr th:onclick="'location.href = \'' + @{/users/detail/{userid}(userid = ${users.userid})} + '\''">
						<td th:text="${users.userid}"></td>
						<td th:text="${users.username}"></td>
						<td th:text="${users.email}"></td>
						<td th:text="${users.phone}"></td>
						<td th:text="${(#dates.format(#calendars.createNow(),'yyyy'))} - ${(#dates.format(users.birth,'yyyy'))}"></td>
						<td th:text="${users.add2}"></td>
						<td th:text="${#dates.format(users.signup,'yyyy-MM-dd HH:mm')}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<th:block th:unless="${count == 0}">
			<div class="d-flex justify-content-center" th:insert="/pagination"></div>
		</th:block>
		<nav class="navbar mt-4 mb-4" style="min-width: 1200px;">
		  <div class="container-xl" style="padding-left: 0;">
		    <form action="/users/search/1" class="d-flex" id="userSearchForm" role="search" name="userSearchForm">
		      <select class="form-select me-2" name="type" style="width: 100px; border: 1px solid #6c757d">
		            <option value="none">선택</option>
					<option value="A">닉네임</option>
					<option value="N">이름</option>
		      </select>
		      <input class="form-control me-2" name="keyword" id="search" size="20" 
		      		 onkeyup="noSpaceForm(this);" onchange="noSpaceForm(this);" 
		      		 type="search" placeholder="검색" aria-label="Search" 
		      		 style="border: 1px solid #6c757d">
		      <button class="btn btn-outline-secondary" style="padding: 6px;">
		      	<div class="bi bi-search" style="width: 28px; height: 28px;"></div>
		      </button>
		    </form>
		  </div>
		</nav>
	</main>
<footer class="footer" th:insert="/NewFooter"></footer>
</div>
</body>
<script>
function noSpaceForm(obj) { // 공백사용못하게
    var str_space = /\s/;  // 공백체크
    if(str_space.exec(obj.value.trim)) { //공백 체크
        //alert("해당 항목에는 공백을 사용할수 없습니다.\n\n공백은 자동적으로 제거 됩니다.");
        obj.focus();
        obj.value = obj.value.replace(/\s| /gi,''); // 공백제거
        return false;
    }
}
const userSearchForm = document.forms.userSearchForm;
userSearchForm.addEventListener("submit", (event) => {
	if(!userSearchForm.keyword.value) {
		event.preventDefault();		
	}
});
</script>
</html>