<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 67412e6be7a439c2c07ffff8348a24d4892a25b8
=======

>>>>>>> 67412e6be7a439c2c07ffff8348a24d4892a25b8
=======

>>>>>>> origin/js
=======

>>>>>>> 67412e6be7a439c2c07ffff8348a24d4892a25b8
=======

>>>>>>> origin/js
=======

>>>>>>> 7152490d28b08ecba93d4fc6a301f61fdf9723ec
* {
    box-sizing: border-box;
}
#path {
    display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    margin: 75px 0 25px 0;
=======
    margin: 91px 0 25px 0;
>>>>>>> 67412e6be7a439c2c07ffff8348a24d4892a25b8
=======
    margin: 91px 0 25px 0;
>>>>>>> 67412e6be7a439c2c07ffff8348a24d4892a25b8
=======
    margin: 91px 0 25px 0;
>>>>>>> origin/js
=======
    margin: 91px 0 25px 0;
>>>>>>> 67412e6be7a439c2c07ffff8348a24d4892a25b8
=======
    margin: 91px 0 25px 0;
>>>>>>> origin/js
=======
    margin: 91px 0 25px 0;
>>>>>>> 7152490d28b08ecba93d4fc6a301f61fdf9723ec
}
#path ol {
    margin-left: auto;      
}
#path ol li a {   
    text-decoration: none;
    vertical-align: middle;
}
html, body {
    height: 100vh;
}
#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 400px;
}
.footer {
    bottom: 0;
    position: absolute;
	width: 100%;
}
.innerBox{
  	margin: 20px 20px;
}
.title{
	margin: 20px 0;
	color: #333;
    font-size: 13px;
    font-weight: 600;
}
.txt{
	color: #777;
    font-size: 13px;
}
@media (max-width: 576px) {
	#wrapper {
	    padding-bottom: 750px;
	}
}
@media (max-width: 992px) {
	#path {
	    margin-top: 93px;
	}
}