<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지 사항</title>
<link rel="stylesheet" href="/public/css/notice/list.css">
<script src="/public/js/notice/list.js" defer="defer"></script>
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
	<div class="container-xl">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a href="/">홈</a>
		    </li>
		    <li class="breadcrumb-item">
		    	<a href="#">고객 센터</a>
		    </li>
		    <li class="breadcrumb-item" aria-current="page">
		    	<a href="/notice/list/1" class="breadcrumb-item active">공지 사항</a>
		    </li>
		  </ol>
		</nav>
		<div class="pb-4 d-flex align-items-center" 
			style="border-bottom: 1px solid #e8e8e8;">
			<div class="d-flex align-items-center">
			    <span style="font-size: 35px; margin-right: 8px;">공지 사항</span>
			    <span class="badge text-bg-dark" style="font-size: 20px;" th:text="${count}"></span>
		    </div>
			<div class="ms-auto">
				<th:block th:if="${session.loginUser?.adminCk == 1}">
					<a href="/notice/insert.do" class="btn btn-secondary">공지 사항 등록</a>
				</th:block>
				<div class="dropdown-center d-inline-block">
				  	<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					    필터
					</button>
				    <ul class="dropdown-menu">
				      <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=views, direct=desc)}">조회수순</a></li>
				      <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=post_time, direct=desc)}">최신순</a></li>
				      <li><a class="dropdown-item text-center ps-0 pe-0" th:href="@{./1(sort=post_time, direct=asc)}">오래된순</a></li>
				    </ul>
			  	</div>
		  	</div>
		</div>
		<table class="mt-5 mb-5 table table-bordered table-hover">
			<thead class="table-light">
				<tr>
					<th>글 번호</th>
					<th>제목</th>
					<th>조회수</th>
					<th>등록일</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="notice : ${noticeList}" >
					<tr th:onclick="location.href='/notice/detail/[[${notice.notice_no}]]'">
						<td th:text="${notice.notice_no}"></td>
						<td th:text="${notice.title}"></td>
						<td th:text="${notice.views}"></td>
						<td th:text="${#dates.format(notice.post_time,'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>				
				</th:block>
			</tbody>
		</table>
		<th:block th:unless="${count == 0}">
			<div class="d-flex justify-content-center" th:insert="/pagination"></div>
		</th:block>
		<nav class="navbar mt-4 mb-4">
		  <div class="container-xl" style="padding-left: 0;">
		    <form action="/notice/search/1" class="d-flex" id="noticeSearchForm" role="search" name="noticeSearchForm">
		      <select class="form-select form-select-sm me-2" name="type" style="width: 100px; border: 1px solid #6c757d; border-radius: 2px;">
		            <option value="N">글 번호</option>
					<option value="W">작성자</option>
					<option value="C">제목</option>
		      </select>
		      <input class="form-control me-2" name="keyword" id="search" size="20" 
		      		 onkeyup="noSpaceForm(this);" onchange="noSpaceForm(this);" 
		      		 type="search" placeholder="검색" aria-label="Search" 
		      		 style="border: 1px solid #6c757d">
		      <button class="btn btn-outline-secondary" style="padding: 6px; border-radius: 2px;">
		      	<div class="bi bi-search" style="width: 17px;"></div>
		      </button>
		    </form>
		  </div>
		</nav>
	</div>
<footer class="footer" th:insert="/NewFooter"></footer>
</div>
</body>
</html>