<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지 사항</title>
<link rel="stylesheet" href="/public/css/board/insert.css">
</head>
<body>
<header th:insert="/NewHeader"></header>
<div id="wrapper">
<main class="container-xl">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" id="path">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item">
	    	<a href="/">홈</a>
	    </li>
	    <li class="breadcrumb-item">
	    	<a href="#">고객 센터</a>
	    </li>
	    <li class="breadcrumb-item" aria-current="page">
	    	<a href="/notice/list/1" class="breadcrumb-item active">공지 사항</a>
	    </li>
	  </ol>
	</nav>
	<h1 class="pb-4 d-flex justify-content-between align-items-center" 
	    style="border-bottom: 1px solid #e8e8e8; min-width: 1200px;">
	    <span style="font-size: 35px;">공지 사항</span>
    </h1>	
    <form action="/notice/update.do" method="post" name="noticeUpdateForm">
		<table class="mt-5 mb-5 table align-middle table-bordered">
			<tbody>
				<tr>
					<th class="table-light" style="border-left: none;">글 번호</th>
					<td>
						<input name="notice_no" class="form-control" id="notice_no" th:value="${noticeNo}" readonly>
					</td>
				</tr>
				<tr>
					<th class="table-light" style="border-left: none;">작성자</th>
					<td>
						<input name="users.userid" class="form-control" id="userId" th:value="${notice.users.userid}" readonly>
					</td>
				</tr>
				<tr>
					<th class="table-light" style="border-left: none;">제목</th>
					<td>
						<input name="title" class="form-control" id="title" th:value="${notice.title}" 
							   onkeyup="noSpace(this);" onchange="noSpace(this);">
					</td>
				</tr>
				<tr>
					<th class="table-light" style="border-left: none;">내용</th>
					<td>
						<textarea name="contents" class="form-control" id="contents" th:text="${notice.contents}" 
							   onkeyup="noSpace(this);" onchange="noSpace(this);"></textarea>
					</td>
				</tr>
				<tr>
					<th class="table-light" style="border-left: none;">등록일</th>
					<td>
						<input name="post_time" class="form-control" id="post_time" th:value="${#dates.format(notice.post_time,'yyyy-MM-dd HH:mm:ss')}" readonly>
					</td>
				</tr>
				<tr>
					<th class="table-light" style="border-left: none;">조회수</th>
					<td>
						<input name="views" class="form-control" id="views" th:value="${notice.views}" readonly>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex">
			<div class="ms-auto">
				<button class="btn btn-outline-success btn-lg" type="submit" style="margin-right: 8px;">수정</button>
				<a th:href="@{/notice/delete/{noticeNo}/{userId}(noticeNo=${noticeNo}, userId=${notice.users.userid})}" class="btn btn-outline-danger btn-lg" style="margin-right: 8px;">삭제</a>
				<a th:href="@{/notice/detail/{noticeNo}(noticeNo=${noticeNo})}" class="btn btn-outline-dark btn-lg">취소</a>
			</div>		
		</div>
    </form>
</main>
<footer class="footer" th:insert="/NewFooter"></footer>
</div>
</body>
<script>
function noSpace(obj) { // 공백사용못하게
    var str = /\s/;  // 공백체크
    if(str.exec(obj.value.trim)) { //공백 체크
        //alert("해당 항목에는 첫 글자 공백을 사용할수 없습니다.");
        obj.focus();
        obj.value = obj.value.replace(/^ +/,''); // 공백제거
        return false;
    }
}
// 값이 없을 때 submit 불가
const noticeUpdateForm = document.forms.noticeUpdateForm;
const title = noticeUpdateForm.title;
const contents = noticeUpdateForm.contents;
noticeUpdateForm.addEventListener("submit", (event) => {
	if(!title.value || !contents.value) {
		event.preventDefault();		
	}
});
</script>
</html>