#path {
    display: flex;
    margin: 20px 0;
    min-width: 1200px;
}
#path ol {
    margin-left: auto;      
}
#path ol li a {   
    text-decoration: none;
    vertical-align: middle;
}
.table-hover{
	cursor: pointer;
}
html, body {
    height: 100%
}
#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 330px;
}
table th, table td {
	text-align: center;
}
.footer {
    bottom: 0;
}

h1{
	border-bottom: 1px solid #e8e8e8; 
}
h1 span{
	font-size: 35px;
}