@charset "EUC-KR";
/* 홈 > TOP 10 > 숙박 정보 CSS  */
#path {
    display: flex;
    margin: 20px 0;
    min-width: 1200px;
}
#path ol {
    margin-left: auto;      
}
#path ol li a {   
    text-decoration: none;
    vertical-align: middle;
}

/*footer css 하단고정  */
html, body {
    height: 100vh;
}
#wrapper {
    min-height: 100%;
    min-width: 1200px;
    position: relative;
    padding-bottom: 330px;
}
.footer {
    bottom: 0;
    position: absolute;
	width: 100%;
}